body {
    font-family: Arial, sans-serif;
    background: #f4f6f8;
    margin: 0;
}

.container {
    width: 90%;
    max-width: 1100px;
    margin: 40px auto;
}

header {
    background: #344503;
    color: white;
    padding: 25px;
    border-radius: 10px;
}

header h1 {
    margin: 0;
}

header p {
    margin-bottom: 0;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px 0 15px;
}

.button {
    background: #344503;
    color: white;
    padding: 10px 16px;
    text-decoration: none;
    border-radius: 6px;
}

table {
    width: 100%;
    background: white;
    border-collapse: collapse;
    box-shadow: 0 2px 8px #ddd;
}

th,
td {
    padding: 14px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

th {
    background: #e8edf5;
}

a {
    color: #72940d;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.form-box {
    background: white;
    padding: 25px;
    max-width: 600px;
    margin: 30px auto;
    box-shadow: 0 2px 8px #ddd;
    border-radius: 8px;
}

.form-box h2 {
    margin-top: 0;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: bold;
}

input,
textarea,
select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

textarea {
    height: 80px;
}

button {
    margin-top: 20px;
    padding: 11px;
    background: #344503;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: #344503;
}

form a {
    text-align: center;
    margin-top: 15px;
}